.setting-region {
  .gradient-box {
    height: 100%;

    .setting-container {
      margin: 16px;

      .group-box {
        height: 220px;

        .content-container {
          margin-top: 10px;
          margin-left: 25px;
          margin-right: 25px;

          .button-group {
            margin-top: 24px;
            text-align: left;
            @import 'components/groupActionButton/GroupActionButton.scss';

            .MuiIconButton-root {
              margin-left: 0;
              margin-right: 24px;
            }
          }

          .switch-container {
            margin-top: 24px;

            &.toogle {
              .MuiSwitch-root {
                margin: 0;
              }
            }

            .MuiFormControlLabel-root {
              margin-left: 0;
              .MuiTypography-root.MuiFormControlLabel-label {
                color: #787878;
                font-size: 12px;
                font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0.00938em;
              }
            }
          }
        }
      }

      .double-line-text {
        display: inline-block;
        color: #787878;
        font-size: 11px;
        // margin-top: 5px;
      }

      #renew-key {
        svg {
          transform: rotate(-45deg);
        }
      }

      .aycd-auto-solve {
        height: 240px;

        .form-container {
          margin-top: 14px;
        }
      }

      .other-settings {
        height: 118px;
      }
    }
  }
}
