.proxy-region {
  width: 78%;
  margin-left: 32px;

  .gradient-box {
    height: 100%;

    .proxy-title {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      text-align: left;
      align-items: center;
      padding-left: 24px;

      span {
        position: relative;
        top: 10px;
      }
    }

    .group-box {
      // height: 190px;
      background: radial-gradient(circle at top, #212328 0%, #0a0b0d 100%);
      background-image: url(#{$backgroundImgPath});
      background-size: cover;
      border: 1px solid #444450;
      border-radius: 14px;
      margin-top: 15px;
      margin-left: 25px;
      margin-right: 25px;
      @import 'components/groupActionButton/GroupActionButton.scss';

      .MuiGrid-container {
        margin: 0;
      }

      &.region-1 {
        height: 66px;
        padding: 12px;

        .form-container {
          margin-top: 8px;
          padding-left: 24px;

          &.btn-container {
            margin-top: 16px;
            width: 216px;
          }
        }
      }

      &.region-2 {
        // display: inline-block;
        flex: 1 1 auto;
        width: 33%;
        height: calc(100% - 90px);
        margin-bottom: 75px;
        margin-right: 8px;

        .form-container {
          margin-top: 24px;
          margin-bottom: 24px;
          margin-left: 16px;
          margin-right: 16px;

          .MuiFilledInput-root {
            background: #000;
            padding-top: 10px;
          }
          .MuiFilledInput-underline::before {
            content: none;
          }
          .MuiInputBase-root::after {
            border: none !important;
          }
        }
      }

      &.region-3 {
        // display: inline-block;
        flex: 1 1 auto;
        width: 67%;
        height: calc(100% - 90px);
        padding: 0 24px;
        margin-left: 8px;
      }
    }

    .region-content {
      display: flex;
    }
  }
}
