.captcha-container {
  overflow: auto;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;

  .MuiGrid-container {
    width: 100%;
    margin: 0;

    .group-box {
      height: 280px;

      .window-title.icon-title {
        .title {
          display: inline-block;
          margin-top: 10px;
        }
        button {
          float: right;
        }
      }

      .content-container {
        margin-left: 24px;
        margin-right: 24px;

        .form-container {
          margin-top: 18px;
        }

        .button-group {
          margin-top: 24px;
          text-align: center;
          @import 'components/groupActionButton/GroupActionButton.scss';

          .MuiIconButton-root {
            margin: 0 9px;
          }
        }

        .clear-cookies {
          margin-top: 16px;
          text-align: center;
          font-size: 11px;
        }
      }
    }
  }
}
