.status {
  color: #c1c1c1;
  width: 62px;
  text-align: center;
  margin: 0 10px;

  .label {
    font-size: 9px;
    margin-bottom: 5px;
  }

  .count {
    width: 42px;
    border: 1px solid #c1c1c1;
    border-radius: 14px;
    line-height: 27px;
    margin: 0 9px;
  }
}
