.nav-bar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;

  .browser-buttons {
    width: 100%;
    height: 21px;
    margin-top: 17px;

    &:hover div {
      visibility: visible;
    }

    .close, .minimize, .zoom {
      font-size: 11px;
      line-height: 10px;
      margin-left: 14px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
    }

    .closeButton, .minimizeButton, .zoomButton {
      visibility: hidden;
      cursor: default;
    }

    .close {
      background: #ff5c5c;
      border: 1px solid #e33e41;

      .closeButton {
        color: #820005;
      }

      &:active {
        background: #c14645;
        border: 1px solid #b03537;

        .closeButton {
          color: #4e0002;
        }
      }
    }
    
    .minimize {
      background: #ffbd4c;
      border: 1px solid #e09e3e;

      .minimizeButton {
        color: #9a5518;
      }

      &:active {
        background: #c08e38;
        border: 1px solid #af7c33;

        .minimizeButton {
          color: #5a2607;
        }
      }
    }
    
    .zoom {
      background: #00ca56;
      border: 1px solid #14ae46;

      .zoomButton {
        color: #006519;
      }

      &:active {
        background: #029740;
        border: 1px solid #128435;

        .zoomButton {
          color: #003107;
        }
      }
    }
  }

  .menu {
    margin-top: 120px;
    margin-left: 30px;

    .menu-item {
      margin-bottom: 40px;
    }
  }

}