.notification {
  width: 16%;
  height: calc(100% - 92px);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-top: 60px;

  .user-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 9pt;

    .info {
      flex: 0 1 auto;
      margin-right: 10px;
      text-align: right;
      padding-top: 5px;
    }
  }

  .gradient-box {
    .notification-title {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      text-align: center;
      align-items: center;

      span {
        position: relative;
        top: 10px;
      }
    }

    .info-area {
      width: 100%;
      height: 100%;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      background-image: url(#{$notificationBgPath});
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: contain;
      overflow-y: scroll;

      .no-data {
        position: relative;
        top: 40%;
        color: $color-4E4E4E;
        text-align: center;

        h3 {
          font-size: 20px;
        }

        p {
          font-size: 12px;
          margin-top: 16px;
        }
      }

      // override material ui snackbar
      .MuiList-padding {
        padding-top: 0;
        padding-bottom: 0;
      }
      .MuiSnackbar-root.MuiSnackbar-anchorOriginBottomCenter {
        left: auto !important;
        bottom: auto !important;
        transform: none !important;
        position: relative !important;
        padding-top: 10px;

        .MuiPaper-root.MuiSnackbarContent-root {
          max-width: 80% !important;
          min-width: 80% !important;
          box-shadow: none !important;
          border-radius: 10px !important;
          border: 1px solid $color-444450 !important;
          background-color: $color-23232A !important;
          margin-left: 8px;
          margin-right: 8px;

          .MuiSnackbarContent-message {
            width: 84%;

            .message {
              display: flex;
              flex-direction: row;

              .message-icon {
                flex: 1 1 auto;
                display: flex;
                align-items: center;

                svg {
                  display: block;
                  margin: 0 auto;
                }
              }
              .message-text {
                flex: 1 1 auto;

                .message-main {
                  font-size: 11pt;
                }
                .message-secondary {
                  font-size: 7pt;
                }
              }
            }
          }
        }

        .MuiSnackbarContent-action {
          padding-left: 0;
        }
      }
    }
  }
}
