.MuiIconButton-root {
  border: 1px solid #f05458;
  border-radius: 5px;
  padding: 5px;
  margin: 0 15px;
  color: #c1c1c1;
  font-size: 11pt;

  svg {
    color: #c1c1c1;
  }
  .text {
    margin-left: 10px;
  }

  &:hover {
    border-color: #db2626;
    box-shadow: 0 4px 4px -1px rgba(219, 38, 38, 0.5);
  }
}
